.circle-container {
	position:relative;
	margin:auto;
	width: 30em;
    height: 30em;
    border: dashed 1px;
    border-radius: 50%;
}

.circle-container img{
	border:5px solid #FFFFFF;	
	height: 100px;
	width: 100px;
	margin: 5px;
	border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    transition: all .4s ease-in-out;
}
.circle-container h1 {
	font-size: 25px;
	left: 50%;
	margin-top: 180px;
}
.circle-container h3 {
	font-size: 18px;
	top: 0%; left: 50%;
}
.deg0 {
	transform: translate(15em);
	-webkit-transform: translate(15em);
} /* 15em = half the width of the wrapper */
.deg0:hover {
	transform: translate(15em) scale(1.2);
	-webkit-transform: translate(15em) scale(1.2);
}
.deg36 {
	transform: rotate(36deg) translate(15em) rotate(-36deg);
	-webkit-transform: rotate(36deg) translate(15em) rotate(-36deg);
}
.deg36:hover {
	transform: rotate(36deg) translate(15em) rotate(-36deg) scale(1.2);
	-webkit-transform: rotate(36deg) translate(15em) rotate(-36deg) scale(1.2);
}
.deg72 {
	transform: rotate(72deg) translate(15em) rotate(-72deg);
	-webkit-transform: rotate(72deg) translate(15em) rotate(-72deg);
}
.deg72:hover {
	transform: rotate(72deg) translate(15em) rotate(-72deg) scale(1.2);
	-webkit-transform: rotate(72deg) translate(15em) rotate(-72deg) scale(1.2);
}
.deg108 {
	transform: rotate(108deg) translate(15em) rotate(-108deg);
	-webkit-transform: rotate(108deg) translate(15em) rotate(-108deg);
}
.deg108:hover {
	transform: rotate(108deg) translate(15em) rotate(-108deg) scale(1.2);
	-webkit-transform: rotate(108deg) translate(15em) rotate(-108deg) scale(1.2);
}
.deg144 {
	transform: rotate(144deg) translate(15em) rotate(-144deg);
	-webkit-transform: rotate(144deg) translate(15em) rotate(-144deg);
}
.deg144:hover {
	transform: rotate(144deg) translate(15em) rotate(-144deg) scale(1.2);
	-webkit-transform: rotate(144deg) translate(15em) rotate(-144deg) scale(1.2);
}
.deg180 {
	transform: translate(-15em);
	-webkit-transform: translate(-15em);
}
.deg180:hover {
	transform: translate(-15em) scale(1.2);
	-webkit-transform: translate(-15em) scale(1.2);
}
.deg216 {
	transform: rotate(216deg) translate(15em) rotate(-216deg);
	-webkit-transform: rotate(216deg) translate(15em) rotate(-216deg);
}
.deg216:hover {
	transform: rotate(216deg) translate(15em) rotate(-216deg) scale(1.2);
	-webkit-transform: rotate(216deg) translate(15em) rotate(-216deg) scale(1.2);
}
.deg252 {
	transform: rotate(252deg) translate(15em) rotate(-252deg);
	-webkit-transform: rotate(252deg) translate(15em) rotate(-252deg);
}
.deg252:hover {
	transform: rotate(252deg) translate(15em) rotate(-252deg) scale(1.2);
	-webkit-transform: rotate(252deg) translate(15em) rotate(-252deg) scale(1.2);
}
.deg288 {
	transform: rotate(288deg) translate(15em) rotate(-288deg);
	-webkit-transform: rotate(288deg) translate(15em) rotate(-288deg);
}
.deg288:hover {
	transform: rotate(288deg) translate(15em) rotate(-288deg) scale(1.2);
	-webkit-transform: rotate(288deg) translate(15em) rotate(-288deg) scale(1.2);
}
.deg324 {
	transform: rotate(324deg) translate(15em) rotate(-324deg);
	-webkit-transform: rotate(324deg) translate(15em) rotate(-324deg);
}
.deg324:hover {
	transform: rotate(324deg) translate(15em) rotate(-324deg) scale(1.2);
	-webkit-transform: rotate(324deg) translate(15em) rotate(-324deg) scale(1.2);
}