.circle-container {
	position:relative;
	margin:auto;
	width: 30em;
    height: 30em;
    border: dashed 1px;
    border-radius: 50%;
}

.circle-container img{
	border:5px solid #FFFFFF;	
	height: 100px;
	width: 100px;
	margin: 5px;
	border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    transition: all .4s ease-in-out;
}
.circle-container h1 {
	font-size: 25px;
	left: 50%;
	margin-top: 180px;
}
.circle-container h3 {
	font-size: 18px;
	top: 0%; left: 50%;
}
.deg0 {
	transform: translate(15em);
	-webkit-transform: translate(15em);
} /* 15em = half the width of the wrapper */
.deg0:hover {
	transform: translate(15em) scale(1.2);
	-webkit-transform: translate(15em) scale(1.2);
}
.deg40 {
	transform: rotate(40deg) translate(15em) rotate(-40deg);
	-webkit-transform: rotate(40deg) translate(15em) rotate(-40deg);
}
.deg40:hover {
	transform: rotate(40deg) translate(15em) rotate(-40deg) scale(1.2);
	-webkit-transform: rotate(40deg) translate(15em) rotate(-40deg) scale(1.2);
}
.deg80 {
	transform: rotate(80deg) translate(15em) rotate(-80deg);
	-webkit-transform: rotate(80deg) translate(15em) rotate(-80deg);
}
.deg80:hover {
	transform: rotate(80deg) translate(15em) rotate(-80deg) scale(1.2);
	-webkit-transform: rotate(80deg) translate(15em) rotate(-80deg) scale(1.2);
}
.deg120 {
	transform: rotate(120deg) translate(15em) rotate(-120deg);
	-webkit-transform: rotate(120deg) translate(15em) rotate(-120deg);
}
.deg120:hover {
	transform: rotate(120deg) translate(15em) rotate(-120deg) scale(1.2);
	-webkit-transform: rotate(120deg) translate(15em) rotate(-120deg) scale(1.2);
}
.deg160 {
	transform: rotate(160deg) translate(15em) rotate(-160deg);
	-webkit-transform: rotate(160deg) translate(15em) rotate(-160deg);
}
.deg160:hover {
	transform: rotate(160deg) translate(15em) rotate(-160deg) scale(1.2);
	-webkit-transform: rotate(160deg) translate(15em) rotate(-160deg) scale(1.2);
}
.deg200 {
	transform: rotate(200deg) translate(15em) rotate(-200deg);
	-webkit-transform: rotate(200deg) translate(15em) rotate(-200deg);
}
.deg200:hover {
	transform: rotate(200deg) translate(15em) rotate(-200deg) scale(1.2);
	-webkit-transform: rotate(200deg) translate(15em) rotate(-200deg) scale(1.2);
}
.deg240 {
	transform: rotate(240deg) translate(15em) rotate(-240deg);
	-webkit-transform: rotate(240deg) translate(15em) rotate(-240deg);
}
.deg240:hover {
	transform: rotate(240deg) translate(15em) rotate(-240deg) scale(1.2);
	-webkit-transform: rotate(240deg) translate(15em) rotate(-240deg) scale(1.2);
}
.deg280 {
	transform: rotate(280deg) translate(15em) rotate(-280deg);
	-webkit-transform: rotate(280deg) translate(15em) rotate(-280deg);
}
.deg280:hover {
	transform: rotate(280deg) translate(15em) rotate(-280deg) scale(1.2);
	-webkit-transform: rotate(280deg) translate(15em) rotate(-280deg) scale(1.2);
}
.deg320 {
	transform: rotate(320deg) translate(15em) rotate(-320deg);
	-webkit-transform: rotate(320deg) translate(15em) rotate(-320deg);
}
.deg320:hover {
	transform: rotate(320deg) translate(15em) rotate(-320deg) scale(1.2);
	-webkit-transform: rotate(320deg) translate(15em) rotate(-320deg) scale(1.2);
}
.deg36 {
	transform: rotate(36deg) translate(15em) rotate(-36deg);
	-webkit-transform: rotate(36deg) translate(15em) rotate(-36deg);
}
.deg36:hover {
	transform: rotate(36deg) translate(15em) rotate(-36deg) scale(1.2);
	-webkit-transform: rotate(36deg) translate(15em) rotate(-36deg) scale(1.2);
}
.deg72 {
	transform: rotate(72deg) translate(15em) rotate(-72deg);
	-webkit-transform: rotate(72deg) translate(15em) rotate(-72deg);
}
.deg72:hover {
	transform: rotate(72deg) translate(15em) rotate(-72deg) scale(1.2);
	-webkit-transform: rotate(72deg) translate(15em) rotate(-72deg) scale(1.2);
}
.deg108 {
	transform: rotate(108deg) translate(15em) rotate(-108deg);
	-webkit-transform: rotate(108deg) translate(15em) rotate(-108deg);
}
.deg108:hover {
	transform: rotate(108deg) translate(15em) rotate(-108deg) scale(1.2);
	-webkit-transform: rotate(108deg) translate(15em) rotate(-108deg) scale(1.2);
}
.deg144 {
	transform: rotate(144deg) translate(15em) rotate(-144deg);
	-webkit-transform: rotate(144deg) translate(15em) rotate(-144deg);
}
.deg144:hover {
	transform: rotate(144deg) translate(15em) rotate(-144deg) scale(1.2);
	-webkit-transform: rotate(144deg) translate(15em) rotate(-144deg) scale(1.2);
}
.deg180 {
	transform: rotate(180deg) translate(15em) rotate(-180deg);
	-webkit-transform: rotate(180deg) translate(15em) rotate(-180deg);
}
.deg180:hover {
	transform: rotate(180deg) translate(15em) rotate(-180deg) scale(1.2);
	-webkit-transform: rotate(180deg) translate(15em) rotate(-180deg) scale(1.2);
}
.deg216 {
	transform: rotate(216deg) translate(15em) rotate(-216deg);
	-webkit-transform: rotate(216deg) translate(15em) rotate(-216deg);
}
.deg216:hover {
	transform: rotate(216deg) translate(15em) rotate(-216deg) scale(1.2);
	-webkit-transform: rotate(216deg) translate(15em) rotate(-216deg) scale(1.2);
}
.deg252 {
	transform: rotate(252deg) translate(15em) rotate(-252deg);
	-webkit-transform: rotate(252deg) translate(15em) rotate(-252deg);
}
.deg252:hover {
	transform: rotate(252deg) translate(15em) rotate(-252deg) scale(1.2);
	-webkit-transform: rotate(252deg) translate(15em) rotate(-252deg) scale(1.2);
}
.deg288 {
	transform: rotate(288deg) translate(15em) rotate(-288deg);
	-webkit-transform: rotate(288deg) translate(15em) rotate(-288deg);
}
.deg288:hover {
	transform: rotate(288deg) translate(15em) rotate(-288deg) scale(1.2);
	-webkit-transform: rotate(288deg) translate(15em) rotate(-288deg) scale(1.2);
}
.deg324 {
	transform: rotate(324deg) translate(15em) rotate(-324deg);
	-webkit-transform: rotate(324deg) translate(15em) rotate(-324deg);
}
.deg324:hover {
	transform: rotate(324deg) translate(15em) rotate(-324deg) scale(1.2);
	-webkit-transform: rotate(324deg) translate(15em) rotate(-324deg) scale(1.2);
}