@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Wire One";
    src: url("fonts/Wire_One/WireOne.ttf") format("truetype");
}


body {
	background-color: rgba(40, 40, 40, 1);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

#announcement {
	font-family: Open Sans;
	font-size: 16pt;
	text-align: right;
	padding-top: 6px;
	padding-right: 8px;
	position:absolute;
	top: 40px;
	right:0;
	height:45px;
	width:400px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color:#D20000;
	z-index: 15;
	color:white;
	cursor:pointer;
	text-decoration: none;
}

#announcement:hover {
	background-color: #FE0000;
}
#wrapper {
	position: absolute;
	top: calc(50% - 80px);
	left: calc(50% - 290px);
	background: rgba(40, 40, 40, 0.92);
	height: 160px;
	width: 580px;
	overflow: visible;
	max-height: 1032px;
	max-width: 1300px;
}

#logo {
	display: block;
	position:absolute;
	top: -130px;
	margin:0px 0px 0px -80px;
	-webkit-filter: drop-shadow(2px 2px 2px rgba(255,255,255,1));
  	filter: drop-shadow(2px 2px 2px rgba(255,255,255,1));
  	-ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Strength=4, Direction=135, Color='#000000')";
  	z-index: 1
}

#menu, #menu-sm{
	position: absolute;
	right: 0%;
	margin: 10px 10px 10px 10px;
	z-index: 1;
}
#menu a, #menu-sm a{
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	text-align: left;
	color: white;
	font-size: 13pt;
	font-family: Open Sans;
}

#menu a:hover, #menu-sm a:hover{
	background: rgba(255, 255, 255, 0.4);
	text-decoration: none;
}

.nav>li>a:focus {
	background-color:transparent;
}
div.title-text {
	float: left;
	font-size: 60px;
	font-weight: bold;
	font-family: Wire One;
	color: red;
	margin-top: 15px;
	margin-left: 50px;
	letter-spacing: 2px;
}
.tabContent {
	display:none;
	position: absolute;
	font-size: 10pt;
	color: white;
	font-family: Open Sans;
	bottom: 3%;
	width: 100%;
	padding-left: 120px;
	padding-right: 20px;
	padding-top: 15px;
	height: 85%;
	text-align: center;
}
div#tab1 p {
	margin-top:-10px;
	font-family: Wire One;
	font-size: 58pt;
	color: #dd0000;
	margin-left:-15px;
	letter-spacing: 5px;
	-webkit-text-stroke: 2px rgba(0,0,0, 0.0);
	font-weight:bold;
}
.cap {
	font-size:74pt;
}


.centered-header {
	text-align:center;
	color: white;
}

.about-pics img{
    max-height:200px;
    max-width:340px;
    display:block;
    border:4px solid #FFFFFF;
    margin-top:20px;
    margin-bottom:8px;
}

.topic-header {
	padding-top:10px;
	padding-bottom:0px;
	color:red;
	font-size:150%;
	font-weight: bold;
}

.topic-header a{
	color:#D20000;
	text-decoration:none;
	font-weight:bold;
	padding:2px;
}

.members-pics img{
	border:5px solid #FFFFFF;	
	display: inline-block;
	max-height:600px;
	max-width:600px;
	margin: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu{
	background-image: none;
	background-color: rgba(60, 60, 60, 0.8);
}

#menu>li>ul>li>a, #menu-sm>li>ul>li>a{
	padding: -4px;
	text-align: left;
	font-size: 10pt;
	text-transform: none;
}

.auditions-pics img{
	display:block;
	margin: 10px 20px;
	border:4px solid #FFFFFF;
	max-height:180px;
	max-width:300px;
	float:right;
}

.question {
	font-weight:bold;
	line-height:25px;
	color:#ff9999;
}

.extperf-pics img {
	display:block;
	margin: auto;
	border:5px solid #ffffff;
	max-height: 260px;
	max-width: 260px;
	margin-bottom: 20px;
}

.past-showcases{
	width: 600px;
	margin:auto;
	overflow: visible;
}
.past-showcases img{
	border:4px solid #FFFFFF;	
	height:198px;
	width:153px;
	margin: 10px;
	overflow: visible;
	transition: all .4s ease-in-out;
}

.past-showcases img:hover{
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.past-showcases div {
    height:300px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

.showcase-pics {
	display:none;
}

.tabContent a, #modal a{
	text-decoration:none;
	color:#ff4444;
}
.repet-table table{
	border-spacing:4px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	border-collapse: separate;
}

.repet-pics img{
	border:3px solid #FFFFFF;	
	display: inline-block;
	max-height:200px;
	max-width:200px;
}

.repet-names td{
	padding-bottom: 20px;
}

.slideshow {
	margin:auto;
	width: 700px;
}

#mask {
	position:absolute;
	z-index: 99;
	height:100%;
	width:100%;
	background-color:black;
	opacity:.4;
	display:none;
}

#modal {
	position:absolute;
	z-index: 100;
	height:400px;
	width:800px;
	top: calc(50% - 200px);
	left: calc(50% - 400px);
	background-color: white;
	display:none;
	opacity:0;
	border-radius: 15px;
	padding: 0px 20px;
	margin-top: -20px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	font-family: Open Sans
}
.modalposter {
	max-height:250px;
	max-width:250px;
	float:right;
	margin:10px;
}